/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@500&family=Inconsolata:wght@300&display=swap");

/* Header Section Styling */
.bg-header {
  background: linear-gradient(
      rgba(112, 112, 112, 0.274),
      rgba(100, 100, 100, 0.274)
    ),
    url(./assets/images/header9.jpg);
  height: 100%;
  padding: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.heading {
  color: rgb(255, 255, 255);
  font-family: "Inconsolata", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 5px 5px 10px black;
  font-size: 50px;
}

/* Property Section Styling */

html,
body {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightslategrey !important;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
/* Float four columns side by side */
.column {
  float: none;
  width: 25%;
  padding: 0 10px;
}
/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  text-align: center;
  background-color: #f1f1f1;
}
/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

#about {
  background-color: lightslategrey;
}

#heading1 {
  padding-top: 200px;
  display: flex;
  justify-content: center;
}
#head-4 {
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
}
#card {
  height: 7rem;
  width: 80%;
  margin-left: 10%;
  margin-top: -4;
  margin-top: -61px;
}
#card-2 {
  width: 22rem;
  height: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
#img {
  width: 20rem;
  height: auto;
}
.card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-border-width: 1px;
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: 0.375rem;
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(0.375rem - 1px);
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: #fff;
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: 0 !important;
}
.featured {
  padding-top: 200px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}
.container-featured {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.border {
  position: relative;
  height: 360px;
  width: 360px;
  background: transparent;
  border-radius: 10px;
  transition: all 1s;
}
.border:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.wrapper {
  height: 370px;
  width: 300px;
  background: grey;
  border-radius: 10px;
  transition: all 0.8s;
  overflow: hidden;
  background: black;
  box-shadow: 0 70px 63px -60px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card-i {
  background: url("./assets/images/house1.jpg") center center no-repeat;
  background-size: 300px;
}
.card-i:hover {
  background: url("./assets/images/house1.jpg") left center no-repeat;
  background-size: 500px;
}
.card-i:hover h2 {
  opacity: 1;
}
.card-i:hover .fa-solid {
  opacity: 1;
}
.card-i:hover p {
  opacity: 1;
}
h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ccc;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
}
p {
  max-width: 150px;
  margin-left: 20px;
  opacity: 0;
  transition: opacity 1s;
}

p::after {
  content: "";
  width: 150px;
  height: 1px;
  display: block;
  margin-top: 20px;
  background: #ccc;
}
.fa-solid {
  opacity: 0;
  transition: opacity 1s;
}

.icons {
  position: absolute;
  fill: #ccc;
  height: 130px;
  top: 226px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
@media screen and (max-width: 1032px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

select{
  width: 18rem;
}
a{
  width:5rem;
}