/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@500&family=Inconsolata:wght@300&display=swap");
body,
html {
  height: 100%;
}
/* Header Section Styling */
.bg-header {
  background: linear-gradient(
      rgba(112, 112, 112, 0.274),
      rgba(100, 100, 100, 0.274)
    ),
    url(./assets/images/header9.jpg);
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.heading {
  color: rgb(255, 255, 255);
  font-family: "Inconsolata", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
  text-shadow: 5px 5px 10px black;
  font-size: 50px;
}

/* Property Section Styling */

body {
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
